.products_card {
    height: 450px;
    border-radius: 15px;
    transition: .5s;
}

.products_card:hover {
    transform: translateY(-6px);
    transition: .5s;
}

.nav-link {
    background-color: white;
    color: black;
}

 .nav-link.active{
    background-color: black !important;
    color: white !important;
}